body {
  background: rgb(38, 11, 79);
  font-family: "Open Sans", sans-serif;
}

.jobcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-top:20px;
}

.jobcard {
  flex-basis: 30%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background: white;
  /*background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.jobcard:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.jobcard:active {
  box-shadow: none;
  transform-origin: center;
  transform: scale(1);
}

.card__category {
  color: #FFF;
  padding: 8px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.75rem;
  font-weight: 600;
}

@media (max-width: 900px) {
  .card {
    flex-basis: 45%;
  }
}

@media (max-width: 600px) {
  .card {
    flex-basis: 100%;
  }
}
